# This .gitignore file should be placed at the root of your Unity project directory
#
# Get latest from https://github.com/github/gitignore/blob/master/Unity.gitignore
## Unity generated folders
/Library/
/Temp/
/Obj/
/Build/
/Builds/
/Logs/
/UserSettings/

# IDE files
.idea/
.vs/
*.csproj
*.sln

# OS junk
.DS_Store
Thumbs.db